<div class="navbar">
  <div class="container">
    <h2>{{ logoName | uppercase }}</h2>

    <div class="links-containr">
      <ul class="links">
        <li><a routerLinkActive="active" routerLink="/home">HOME</a></li>
        <li>
          <a routerLinkActive="active" routerLink="/products">Products</a>
        </li>
        <li>
          <a routerLinkActive="active" routerLink="/users">User</a>
        </li>
        <li>
          <a routerLinkActive="active" routerLink="/posts">Posts</a>
        </li>
        <li>
          <a routerLinkActive="active" routerLink="/carts">Carts</a>
        </li>
        <li>
          <a routerLinkActive="active" routerLink="/login">Login</a>
        </li>
        <li>
          <a routerLinkActive="active" routerLink="/register">Register</a>
        </li>
        <li>
          <a routerLinkActive="active" routerLink="/notes">notes</a>
        </li>
      </ul>
    </div>
  </div>
</div>
