// #sayHello{
//   position: absolute;
//     top: 24px;
//     right: 50%;
//     background: aliceblue;
//     padding: 10px;
//     border-radius: 10px;
// }
.products{
      // background: #eee;
      position: relative;
      .d-f{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    .box{

  .card{
    padding: 20px !important;

  .card-img-top{
    width: 100%;
    height: 200px !important;
  }
  }
  }
}
}
