<div class="my-2 w-25">
  <app-select
    [data]="Catagories"
    (selectedData)="filterCat($event)"
  ></app-select>
</div>

<div class="products" *ngIf="!loading">
  <div class="d-f">
    <div
      class="box"
      *ngFor="let item of products"
      routerLink="/details/{{ item.id }}"
    >
      <app-products-form-shared
        [data]="item"
        (item)="addToCart($event)"
      ></app-products-form-shared>
      <!-- this child-->
    </div>
  </div>

  <div class="text-center w-100" *ngIf="loading">
    <app-spinner></app-spinner>
  </div>
</div>
