<div class="my-2 w-25">
  <label class="my-1">Categories :</label>
  <select class="form-control" (change)="filterCat($event)">
    <option value="all" selected (click)="redirect()">All</option>
    <option value="{{ option }}" *ngFor="let option of CatigoresfromAPI">
      {{ option }}
    </option>
  </select>
</div>
<!-- <div class="discount d-flex gap-2">
  <button class="btn btn-danger">Product With Discount</button>
  <button class="btn btn-danger">Product Without Discount</button>
</div> -->
<div class="products">
  <div class="container d-flex">
    <div
      class="card"
      style="width: 18rem"
      *ngFor="let item of productfromAPI"
      routerLink="/details/{{ item.id }}"
    >
      <img [src]="item.image" class="card-img-top" alt="..." />
      <div class="card-body">
        <p>{{ item.title }}</p>
        <p>{{ item.category }}</p>
        <p>{{ discount }}</p>
      </div>
      <div
        class="info d-flex"
        style="
          justify-content: space-between;
          padding: 10px;
          align-items: center;
        "
      >
        <button class="btn btn-success" style="">Add to Cart</button>
        <span style="background: aquamarine; padding: 5px; border-radius: 5px">
          {{ item.price }}$
        </span>
      </div>
    </div>
  </div>

  <div class="text-center w-100">
    <app-spinner></app-spinner>
  </div>
</div>
