<!--Reactive forms -->

<div class="container">
  <form class="form-login" (ngSubmit)="submitData()" [formGroup]="registration">
    <!--Start inputUserName -->
    <div class="form-group">
      <input
        formControlName="userName"
        type="text"
        class="form-control"
        [class.is-invalid]="userName?.invalid && userName?.touched"
        placeholder="User Name"
      />
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="userName?.invalid && userName?.touched"
      >
        <div class="text-danger" *ngIf="userName?.errors?.['required']">
          userName is required
        </div>
        <br />
        <div class="text-danger" *ngIf="userName?.errors?.['pattern']">
          the user name must also contains only capital and small characters
        </div>
        <div class="text-danger" *ngIf="userName?.errors?.['minLength']">
          the user name must at least 5 characters
        </div>
      </div>
    </div>
    <!--End  inputUserName -->
    <!--Start inputEmail -->
    <div class="form-group">
      <input
        type="email"
        formControlName="email"
        required
        pattern="^\w+([-_.])*@\w+([-.]\w+)*\.\w+([-.]\w+)*$"
        [class.is-invalid]="email?.errors && email?.touched"
        placeholder="Email"
        class="form-control"
      />
      <div class="alert alert-danger" *ngIf="email?.errors && email?.touched">
        <small class="text-danger" *ngIf="email?.errors?.['required']"
          >Email is required</small
        >
        <br />
        <small class="text-danger" *ngIf="email?.errors?.['pattern']"
          >the Email must contains @ ex:(aaa@bb.com)</small
        >
      </div>
    </div>
    <!--End inputEmail -->

    <!--Start inputPassword -->
    <div class="form-group">
      <input
        type="password"
        formControlName="password"
        required
        [class.is-invalid]="password?.invalid && password?.touched"
        placeholder="Password"
        class="form-control"
      />
      <div
        class="alert alert-danger"
        *ngIf="password?.errors && password?.touched"
      >
        <small class="text-danger" *ngIf="password?.errors?.['required']"
          >Password is required</small
        >
        <br />
        <small class="text-danger" *ngIf="password?.errors?.['minlength']"
          >Password Must be minimum at least 5 digit</small
        >
        <small class="text-danger" *ngIf="password?.errors?.['maxlength']"
          >Password Must be maxmum at least 5 digit</small
        >
      </div>
    </div>

    <!--End inputPassword -->
    <!--Start confirmPassword -->
    <div class="form-group">
      <input
        type="password"
        formControlName="confirmPassword"
        class="form-control"
        placeholder="Confirm Password"
      />
      <small
        class="alert alert-danger"
        *ngIf="registration.errors?.['misMatch']"
        >password and confirm password not match</small
      >
    </div>
    <!--ENd confirmPassword -->
    <div class="form-group">
      <select
        class="custom-select select"
        formControlName="selectProduct"
        name="select"
      >
        <option value="default">where you hear about us ...</option>
        <option *ngFor="let social of socials">
          {{ social }}
        </option>
      </select>
      <br />
      <!-- <div class="alert alert-danger" *ngIf="selectProduct?.touched">
        please select your social
      </div> -->
    </div>
    <button
      md-raised-button
      [disabled]="registration.invalid"
      [style.color]="'white'"
      [style.background-color]="registration.invalid ? 'green' : 'green'"
    >
      Submit
    </button>
  </form>
</div>

<!-- <input
      type="submit"
      class="btn btn-danger"
      value="Submit"
      name="submit"
      md-raised-button
      [disabled]="userForm.form.invalid || (socialHasError && isDisabled)"
      [class.my-class]="isDisabled"
    /> -->
