<div class="container">
  <form class="form-login" #userForm="ngForm" (ngSubmit)="submitData()">
    <!--Start inputUserName -->
    <div class="form-group">
      <input
        [(ngModel)]="userModel.username"
        #username="ngModel"
        name="UserName"
        type="text"
        class="form-control"
        required
        [class.is-invalid]="username.invalid && username.touched"
        pattern="^[A-Z]+[a-z]+$"
        placeholder="User Name"
      />
      <div
        class="alert alert-danger"
        *ngIf="username.errors && username.touched"
      >
        <small class="text-danger" *ngIf="username.errors['required']"
          >userName is required</small
        >
        <br />
        <small class="text-danger" *ngIf="username.errors['pattern']"
          >the user name must also contains only capital and small
          characters</small
        >
      </div>
    </div>
    <!--End  inputUserName -->
    <!--Start inputEmail -->
    <div class="form-group">
      <input
        type="email"
        name="email"
        required
        pattern="^\w+([-_.])*@\w+([-.]\w+)*\.\w+([-.]\w+)*$"
        [class.is-invalid]="email.invalid && email.touched"
        placeholder="Email"
        [(ngModel)]="userModel.email"
        #email="ngModel"
        class="form-control"
      />
      <div class="alert alert-danger" *ngIf="email.errors && email.touched">
        <small class="text-danger" *ngIf="email.errors['required']"
          >Email is required</small
        >
        <br />
        <small class="text-danger" *ngIf="email.errors['pattern']"
          >the Email must contains @ ex:(aaa@bb.com)</small
        >
      </div>
    </div>
    <!--End inputEmail -->
    <!--Start inputPassword -->
    <div class="form-group">
      <input
        type="password"
        name="password"
        required
        [class.is-invalid]="password.invalid && password.touched"
        placeholder="Password"
        [(ngModel)]="userModel.password"
        #password="ngModel"
        class="form-control"
        minlength="5"
        maxlength="20"
      />
      <div
        class="alert alert-danger"
        *ngIf="password.errors && password.touched"
      >
        <small class="text-danger" *ngIf="password.errors['required']"
          >Password is required</small
        >
        <br />
        <small class="text-danger" *ngIf="password.errors['minlength']"
          >Password Must be minimum at least 5 digit</small
        >
        <small class="text-danger" *ngIf="password.errors['maxlength']"
          >Password Must be maxmum at least 5 digit</small
        >
      </div>
    </div>
    <!--End inputPassword -->
    <!--Start confirmPassword -->
    <div class="form-group">
      <input
        type="password"
        name="confirmPassword"
        class="form-control"
        required
        pattern="{{ userModel.password }}"
        [class.is-invalid]="confirmPassword.invalid && confirmPassword.touched"
        placeholder="Confirm Password"
        [(ngModel)]="userModel.confirmPassword"
        #confirmPassword="ngModel"
      />
      <div
        class="alert alert-danger"
        *ngIf="confirmPassword.errors && confirmPassword.touched"
      >
        <small class="text-danger" *ngIf="confirmPassword.errors['required']"
          >confirm Password is required</small
        >
      </div>
    </div>
    <!--ENd confirmPassword -->

    <div class="form-group">
      <select
        class="custom-select select"
        name="ddSocial"
        required
        [class.is-invalid]="social.invalid && social.touched"
        [(ngModel)]="userModel.social"
        #social="ngModel"
        (blur)="validateSocial(social.value)"
        (change)="validateSocial(social.value)"
      >
        <option value="default">where you hear about us ...</option>
        <option *ngFor="let social of socials">
          {{ social }}
        </option>
      </select>
      <br />
      <div class="alert alert-danger" *ngIf="social.touched && socialHasError">
        please select your social
      </div>
    </div>
    <input
      type="submit"
      class="btn btn-success"
      value="Submit"
      name="submit"
      [disabled]="userForm.form.invalid || socialHasError"
    />
  </form>
</div>
