<div class="container">
  <form class="form-login" #userForm="ngForm">
    <!--Start inputEmail -->
    <div class="form-group">
      <input
        type="email"
        name="email"
        required
        pattern="^\w+([-_.])*@\w+([-.]\w+)*\.\w+([-.]\w+)*$"
        [class.is-invalid]="email.invalid && email.touched"
        placeholder="Email"
        [(ngModel)]="userModel.email"
        #email="ngModel"
        class="form-control"
      />
      <div class="alert alert-danger" *ngIf="email.errors && email.touched">
        <small class="text-danger" *ngIf="email.errors['required']"
          >Email is required</small
        >
        <br />
        <small class="text-danger" *ngIf="email.errors['pattern']"
          >the Email must contains @ ex:(aaa@bb.com)</small
        >
      </div>
    </div>
    <!--End inputEmail -->
    <!--Start inputPassword -->
    <div class="form-group">
      <input
        type="password"
        name="password"
        required
        [class.is-invalid]="password.invalid && password.touched"
        placeholder="Password"
        [(ngModel)]="userModel.password"
        #password="ngModel"
        class="form-control"
      />
      <div
        class="alert alert-danger"
        *ngIf="password.errors && password.touched"
      >
        <small class="text-danger" *ngIf="password.errors['required']"
          >Password is required</small
        >
      </div>
    </div>
    <input type="submit" class="btn btn-success" value="Submit" name="submit" />
    <!--End inputPassword -->
  </form>
</div>
