<h2
  class="user-header"
  style="
    text-align: center;
    text-align: center;
    background-color: #eee;
    width: 200px;
    margin: 15px AUTO;
    border-radius: 10px;
  "
>
  Posts
</h2>

<div
  class="container d-flex"
  style="display: flex !important; flex-wrap: wrap; gap: 20px"
>
  <div
    class="card"
    style="width: 18rem"
    *ngFor="let item of posts"
    routerLink="/post-detail/{{ item.id }}"
  >
    <div class="card-body">
      <p class="card-text">{{ item.id }}</p>
      <p class="card-text">{{ item.title }}</p>
      <p class="card-text">{{ item.body }}</p>
    </div>
    <button
      class="btn btn-success"
      (click)="goToComments()"
      routerLink="/comments/{{ item.id }}"
    >
      view post comments
    </button>
  </div>
</div>
<router-outlet></router-outlet>
