<div class="card">
  <div class="card-header">test</div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>test</p>
      <p>test</p>
      <footer class="blockquote-footer">test</footer>
    </blockquote>
  </div>
  <router-outlet></router-outlet>
</div>
<!-- <div class="card">
  <div class="card-header">3</div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>fugit labore quia mollitia quas deserunt nostrum sunt</p>
      <p>Veronica_Goodwin@timmothy.net</p>
      <footer class="blockquote-footer">
        ut dolorum nostrum id quia aut est fuga est inventore vel eligendi
        explicabo quis consectetur aut occaecati repellat id natus quo est ut
        blanditiis quia ut vel ut maiores ea
      </footer>
    </blockquote>
  </div>
</div>
<div class="card">
  <div class="card-header">3</div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>fugit labore quia mollitia quas deserunt nostrum sunt</p>
      <p>Veronica_Goodwin@timmothy.net</p>
      <footer class="blockquote-footer">
        ut dolorum nostrum id quia aut est fuga est inventore vel eligendi
        explicabo quis consectetur aut occaecati repellat id natus quo est ut
        blanditiis quia ut vel ut maiores ea
      </footer>
    </blockquote>
  </div>
</div>
<div class="card">
  <div class="card-header">3</div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>fugit labore quia mollitia quas deserunt nostrum sunt</p>
      <p>Veronica_Goodwin@timmothy.net</p>
      <footer class="blockquote-footer">
        ut dolorum nostrum id quia aut est fuga est inventore vel eligendi
        explicabo quis consectetur aut occaecati repellat id natus quo est ut
        blanditiis quia ut vel ut maiores ea
      </footer>
    </blockquote>
  </div>
</div>
<div class="card">
  <div class="card-header">3</div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>fugit labore quia mollitia quas deserunt nostrum sunt</p>
      <p>Veronica_Goodwin@timmothy.net</p>
      <footer class="blockquote-footer">
        ut dolorum nostrum id quia aut est fuga est inventore vel eligendi
        explicabo quis consectetur aut occaecati repellat id natus quo est ut
        blanditiis quia ut vel ut maiores ea
      </footer>
    </blockquote>
  </div>
</div>
<div class="card">
  <div class="card-header">3</div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>fugit labore quia mollitia quas deserunt nostrum sunt</p>
      <p>Veronica_Goodwin@timmothy.net</p>
      <footer class="blockquote-footer">
        ut dolorum nostrum id quia aut est fuga est inventore vel eligendi
        explicabo quis consectetur aut occaecati repellat id natus quo est ut
        blanditiis quia ut vel ut maiores ea
      </footer>
    </blockquote>
  </div>
</div> -->
<!-- <router-outlet></router-outlet> -->
